<div class="flex-row-reverse items-center w-1/3 text-right text-gray-500 text-sm hidden lg:flex">
  {{#if @isSaving}}
    <p>
      <Loader class="mr-1" style="height: 12px; width: 12px" />
      Saving...
    </p>
  {{else}}
    Saved {{svg-jar "check" class="w-4 mr-1"}}
  {{/if}}
</div>