<div class="fixed sm:static p-2 left-0 right-0 tags-section">
  {{#if this.tags.length}}
    {{#each this.tags as |tag|}}
      <LinkTo 
        @route="search" 
        @query={{hash search_term=tag}}
        class="tag"
      >
        {{tag}}
      </LinkTo>
    {{/each}}
  {{else}}
    <i class="red text-sm text-gray-600">
      Add tags by typing # in your notes
      {{!-- <span class="text-blue-500 cursor-pointer hover:underline">
        Show me how!
      </span> --}}
    </i>
  {{/if}}


</div>