<div 
  class="mt-3 {{if this.fetchGoogleOAuthURL.isRunning "opacity-25 cursor-not-allowed"}}" 
  disabled={{this.fetchGoogleOAuthURL.isRunning}}
>
  {{yield (hash openGoogleOAuth=this.openGoogleOAuth)}}
</div>